.products-main {
    background-image: url("../../Assets/Img/product_tree.png"), url("../../Assets/Img/product_right.png");
    background-repeat: no-repeat;
    background-size: contain contain;
    background-position: top 40% left 0%, top 10% left 100%;
}
@media (max-width:920px) {
    .container{
        width: 800px;
    }
    .products-list{
        width: 25%;
    }
    .products-item .products-img {
        width: 141px;
        height: 157px;
        object-fit: cover;}

}
@media (max-width:820px) {
    .container{
        width: 700px;
    }
    .product-page .client-avatar{
        width: 350px;
        height: 466px;
    }
    .product-page  .client-subtitr{
       
        width: 260px;
        line-height: 32px;
        font-size: 25px;
    }
    .product-page .client-slogan{
        width: 260px;
    }
    .product-page .client-right{
        padding-left: 25px;
    }
    .product-page .client .client-link {
        position: absolute;
        top: 91.5%;
        left: 44%;
    }
     
    .product-page  .products-main{
        background-image: none;
    }
   
    .product-page .navbar-item {
        padding: 7px 20px;
    }
    .product-page  .products-item .products-img {
        width: 146px;
        height: 114px;
        object-fit: cover;
    }
    .product-page .navbar .container{
        width: 680px;
    }
    .product-page .navbar{
        padding-left: 23px;
    }
    .products-list{
        width: 30%;
        /* background-color: red; */
    }
}
@media (max-width:720px) {
    .burger-menu{display: block;}
    .navbar .navbar-list{
        display: none;
    }
  
    .product-page .container, .product-page .navbar .container{
        width: 600px;

    }
    .product-page .products-btn{
        width: 44%;
    }
    .product-page .products-item:nth-child(1) {
        /* background: #F3F4F6; */
        /* background-color: red; */
        padding: 5px 8px;
        width: 123%;
}
.product-page .client-avatar {
    width: 283px;
    height: 464px;
}
.client-box {
    background: #FFFFFF;
    box-shadow: 14px 14px 40px rgb(0 0 0 / 10%);
    border-radius: 0px;
    padding: 19px 13px;
    width: 230px;
}
/* .navbar-list .navbar-item:nth-child(6){
    display: block;
} */
body  .res-t .navbar-item .change-languages{
    display: block;
}
.product-page  .navbar .res-til .navbar-item {
    display: block;
}
.products-list{
    width: 30%;
    /* background-color: red; */
}
.product-page .products-item .products-img {
    width: 123px;
    height: 98px;}
}
@media (max-width:620px) {
  
  
    .product-page .container, .product-page .navbar .container{
        width: 500px;

    }
    .product-page  .client .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .product-page .products-blok{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .product-page   .products-list{
        width: 55%;
    }
    .product-page   .products-list {
        /* width: 80%; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        
        
    }
    .product-page .products-item:nth-child(1) {
        width: 100%;
    }
    .product-page .products-item .products-img {
        width: 253px;
        height: 200px;
        object-fit: contain;
         
}}

@media(max-width:520px) {
    .container {
        width: 400px;
    }
     
  
    .product-page .container, .product-page .navbar .container{
        width: 400px;

    }
    .product-page .burger-menu {
        width: 45px;
        margin-left: 0px;
       padding-left: 0px;
    }
    .product-page  .products-title {
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 44px;
    }
    .product-page .products-btn {
        width: 57%;
}
.product-page .client .client-link {
    position: absolute;
    top: 93.5%;
    left: 41%;
}
.product-page .client-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .product-page .client-subtitle{
    width: 202px;
    font-size: 14px;
 }
 .product-page .client-name{
    padding-top: 11px;
    font-size: 12.47826px;
 }
 .product-page .client-text{
    line-height: 15px;
    width: 211px;
    font-size: 11px;
 }
 .product-page .client-box{
     padding: 25px 15px;
     padding-bottom: 0;
 }
 .product-page .products-list {
    width: 77%;
}
.product-page .client-right{
    padding-top: 0;
}
.product-page .client-right {
    padding-top: 0;
    margin-top: 49px;
}
.product-page .contact-input {
    width: 309px !important;
}
.product-page .contact{
    padding: 0;
}
.product-page .products-item .products-img {
    width: 218px;
}
}
@media(max-width:420px) {
    .container {
        width: 300px;
    }
     
  
    .product-page .container, .product-page .navbar .container{
        width: 300px;

    }

    .menus-btn {
        display: block;
        background-color: transparent;
        border: 1px solid white;
        padding: 5px;
        transition: 0.3s;
    }

    .menus-btn:hover {
        border: 1px solid rgb(5, 1, 1);
        transform: scale(1.1);
    }

    .navbar-list {
        display: none;
    }

    .products-main {
        background-image: none;
    }

    .products-title {
        font-style: normal;
        font-weight: 600;
        font-size: 22.68px;
        line-height: 36px;
      
        text-align: center;

         

        color: #2C1500;
        line-height: 0;
    }

    .products-list {
        width: 45%;
    }

    .products-img {
        width: 100.98px;
        height: 120.95px;
    }

    .products-blok {
        align-items: flex-start;
    }

    .products-name {
        max-height: 33px;
        color: #45525B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 10.2455px;
        line-height: 12px;
        
        text-align: center;
        color: #000000;

    }

    .products-price {
        height: 23px;
        color: #45525B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 15.2455px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }
    .products-btn{
        
        width: 62%;
        padding: 0px 0;
 
 
border: 1.34357px solid #037B35;
border-radius: 17.8023px;
    }
    .client .container {
        flex-direction: column;
    }

    .products-subtitle{
        /* text-align: center; */
        padding-left: 60px;
    }
    .client{
        padding-top: 0;
    }
    .products{
     
    padding: 0px 0;
    }
    .products .container{
        padding: 30px 0;
        padding-bottom: 0;
    }

    .product-page .products-title {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 39px;
        padding: 0;
}
.product-page .products-name {
    font-size: 21px;
    line-height: 35px;
    padding: 15px 0;
    max-height: 49px;
}
.product-page .client .client-link {
    position: absolute;
    top: 94.5%;
    left: 50%;
}
.product-page .contact {
    padding: 19px 0;
}
.menu1 {
    width: 90%;
    display: block;
    text-align: center;
    padding: 0px;
    height: 100vh;
    transition: 0.4s;
    transform: translateX(66px);
}
.products-subtitle{
    display: none;
}
}