*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 1140px;
  /* background-color: violet; */
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}